﻿h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}
.main-menu .navigation > li > ul > li > ul > li > ul {
        position: absolute;
        right: 100%;
        top: 0px;
        width: 250px;
        padding: 0px;
        z-index: 100;
        display: none;
        background: #ffffff;
        border-top: 3px solid #0693ee;
        -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
        -ms-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
        -o-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
        -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
        box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    }
.main-menu .navigation li > ul > li.dropdown > ul > li.dropdown:hover > ul {
    display:block;
    visibility: visible;
    opacity: 1;
    top: 0;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
.main-menu .navigation > li > ul > li > ul > li:hover > a {
    color: #ffffff;
    background: #04588f;
}
.main-menu .navigation > li > ul > li > ul > li > ul > li:hover >  a {
    color: #ffffff;
    background: #0270b8;
}
.main-menu .navigation > li > ul > li > ul > li > ul > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}
.main-menu .navigation > li > ul > li > ul > li > ul > li >  a {
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #272727;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}



.akb-logo {
    max-height: 60px;
}
.main-header .header-upper .upper-right {
    padding-top: 10px;
}
.social-icon-two {
    text-align: center;
}
.akb-subscribe-button {
    margin-top: 5px !important;
    right: auto !important;
    left: 0px !important;
    border-radius: 50px 0px 0px 50px !important;

}
.subscribe-form .form-group input[type="text"], .subscribe-form .form-group input[type="tel"], .subscribe-form .form-group input[type="email"], .subscribe-form .form-group textarea {
    border: 0px;}
    .main-header .info-box {
    margin-left: 20px;

}
.main-header .info-box {
    float: left;
    text-align: right;
    padding: 0px 50px 20px 0px;
    margin-top: 12px;
}
.icon-box {
    right: 0px;
    left: auto;

}
.main-header .info-box li {
    font-size: 14px;

}

.akb-p-titr {
    font-size: 16px;
    font-weight: bold;
    adding-bottom: 5px;
}
.main-header .header-top .top-left ul li {
    margin-right: 0px;
    margin-left: 70px;
}
h4.h4-Name-Company-7800b8c4-8c1a-47ee-90e9-8765d02c2e65 a {
    color: white !important;
}
.main-header .header-upper .logo-box {
    padding: 40px 0px;
}
.main-header .nav-outer {
    bottom: -25px;

}
.main-header .header-upper .upper-right {
    padding-top: 21px;
}
.main-menu {
    float: right;
}
.main-header .nav-outer {
    padding: 0px 35px 0px 0px;
}
.main-header .header-lower .outer-box {
    float: left !important;
}
.main-header .header-lower .outer-box .advisor-box .advisor-btn span {
    border-radius: 0px 50px 50px 0px;
    color:white;
    font-family:inherit;
}
.main-menu .navigation > li {
    float: right;
}
.akb-company-name a{
    color:white !important;
}
.main-menu .navigation > li > ul {
    left: auto;
    right: 0;

}
.main-menu .navigation > li > ul > li > ul {

    left: 0;
    right: 100%;
}
.main-menu .navigation > li > ul > li.dropdown > a:after {
    content: "\f104" !important;
    right: auto;
    left: 10px;
 }
 .main-menu .navigation > li > ul > li.dropdown > ul > li.dropdown > a:after {
    content: "\f104" !important;
    right: auto;
    left: 10px;
 }




.main-header .header-lower .outer-box .advisor-box .advisor-btn:before {

    right: -3px;
    left: auto;
 }
 .main-menu .navigation > li > a {
    font-family: inherit;
}
.main-header .info-box strong {
    font-family: inherit;
}
.nav-outer i.fa-download{
    margin-left:8px;
}
.footer-lists li a:before {
    content: '\f104' !important;
    right: 0px;
    left: auto;
    top:10px;

}
.footer-lists li a {
    padding-right: 20px;
    padding-left:0px;

}
.main-footer .footer-title h2:after {
    left: auto;
    right: 0px;}

.main-header .header-top .top-left ul li {
    margin-left: 30px;
}
.btn-style-one {
    font-family: inherit;
}

.akb-titr .separater {
    position: relative;
    width: 100px;
    height: 2px;
    background-color: #333333;
    left: -20%;
    margin-left: -50px;
}
.akb-titr h2 {
    position: relative;
    color: #333333;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.4em;
    padding-bottom: 20px;
}
.akb-titr .separater:before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: -4px;
    width: 10px;
    height: 10px;
    display: inline-block;
    left: 50%;
    right: auto;
    margin-left: -5px;
    background-color: #0693ee;
}
.services-section {
    padding: 0px 0px 0px;
}
.services-block .inner-box .upper-box h3 a {
    font-family: inherit;
}
.services-section-three {
    padding: 0px;
}
.services-block-three .inner-box .icon-box {
 
    right: 40%;
    top: -2px;
}
.services-block-four .inner-box {
    padding: 20px 90px 20px 15px;
    }
.news-section-two {
    padding: 0px;
}
.owl-carousel .owl-stage-outer {
    direction: ltr;
}
.projects-section .inner-box .image{
    height: 240px;
}
.news-block-three .inner-box .image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.portfolio-item-two .image-box {
    height: 266px;
}
.portfolio-item-two .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
figure.image-box {
    margin: 0px;
}
.projects-section .owl-nav {
    direction:ltr;
}
.news-block-three .inner-box .lower-content .post-meta li span {
    margin-left: 8px;
    margin-right: 0px;
}
.news-block-three .inner-box .lower-content .post-meta li {
    margin-left: 15px;
    margin-right: 0px;
}


.projects-section .akb-titr .separater ,.work-section .akb-titr .separater  {
    left: -46% !important;
}
.fact-counter .column .counter-title {
    font-family: inherit;
    font-size: 20px;
}

.akb-news-section .inner-box .image{
    height: 240px;
}
.news-block-three .inner-box .image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.welcome-section.alternate {
    padding-top: 0px;
}
.akb-titr2 h2 {
    position: relative;
    color: #333333;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.4em;
    padding-bottom: 20px;
}
.akb-titr2 .separater {
    position: relative;
    width: 100px;
    height: 2px;
    background-color: #333333;
    left: 0;
    margin-left: -50px;
}
.akb-titr2 .separater:before {
    position: absolute;
    content: '';
    right: 0px;
    bottom: -4px;
    width: 10px;
    height: 10px;
    display: inline-block;
    right: 50%;
    left: auto;
    margin-right: -50px;
    background-color: #0693ee;
}
.accordion-box .block .icon-outer {
    left: auto;
    right: 50px;
    height: 100%;
}
.accordion-box .block .acc-btn {
    padding: 10px 70px 10px 20px;
}
.accordion-box .block .icon-outer .icon {
    height: 100%;
}
.default-section {
    padding: 40px 0px 30px;
}
.process-block .inner-box .upper-box:after {
    content: '\f177';
    right: 100%;
    left:0px;
    top: 50%;
    margin-top: -10px;
    font-family: 'FontAwesome';
}
.main-header .header-top {
    background-color: #003462;
}
.main-footer .footer-bottom {
    background-color: #003462 !important;
}
.main-footer .footer-bottom .copyright {
    color: #ffffff;
}
.main-footer .footer-bottom .copyright a {
    color: #0792eb;
}
.accordion-box .block .acc-btn.active {
    background-color: #003462;
}
.accordion-box .block .icon-outer .icon {
    background-color: #003462;
}
.scroll-to-top {
   background-color: #003462;
}
.btn-style-three {
    font-family: inherit;
}
.footer-column p {
    color: #999999;
    font-size: 15px;
}
.footer-column span{
    font-size: 15px;
}
.subscribe-form .form-group input[type="submit"], .subscribe-form .form-group button {

    border-color: inherit;
}
.main-header .nav-outer {
    background-color: #003462;
}
.kbhclass-bf1b4f1f-69be-4c87-872f-787bf45a941c {
    background: #02294a;
}
.product-section .upper-box h2 {
    font-family: inherit;
}
.info-column .icon{
    right: 0px;
    left: auto;
}
.list-style-three li {
    padding-right: 70px;
    padding-left: 0px;

}
.default-form .theme-btn {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 34px;
    border-radius: 50px;
    text-transform: capitalize;
}
input, button, select, textarea {
    font-family: inherit;
}
.fluid-section-one .title-column .inner-column {
    padding: 66px 140px 66px 15px;
}
.fluid-section-one .form-column .inner-column {
    padding: 71px 190px 71px 15px;
    margin-right: 5%;
}
.subscribe-form-three .theme-btn{
    right: auto;
    left: 0px;
}
.kbhclass-1a8feddb-8ed5-4249-b977-1ce523e60e82 {
    padding: 0px !important;
}
.default-portfolio-item .overlay-box, .fluid-section-one .title-column:before {
    background-color: rgba(6, 147, 238, 0.66);
}
#div-bt5hOZBisJG37fzR42K09fF4SrW0tDMhZSV9ZW14db6x{
    padding: 0px !important;
}

.default-portfolio-item.mix {
    display: block !important;
}
.default-portfolio-item {
    float: right;
}
.akb-gallery-section .image-box {
    height: 265px;
}
.default-portfolio-item .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.default-portfolio-item .overlay-inner h3 a {
    color: #ffffff;
    font-size: 16px;
}
.default-portfolio-item .overlay-inner .content .tags {
    color: #dddddd;
}
.default-portfolio-item .overlay-inner .link {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.project-page-section .styled-pagination {
    direction: ltr;
}
.project-page-section {
    padding: 0px;
}
.default-portfolio-item .overlay-inner h3 {
    font-size: 18px;
    color: #ffffff;
}
.sidebar-page-container {
    padding: 0px;
}
.cat-list li a:before {
     content: '\f0d9'; 
}
.akb-news-category .caret {
    display: none !important;
}
.akb-news-page .inner-box .image {
    height: 225px;
}
.akb-news .akb-titr2 h2 {
    font-size: 22px;
}
.cat-list li a:hover {
    color: #ffffff !important;
    background-color: #003462;
}
.news-single .inner-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-single .inner-box .image {
    height: 400px;
}
.news-single .inner-box .lower-content .post-meta li span {
    margin-left: 8px;
    margin-right: 0px;
    }
.news-single .inner-box .lower-content .post-meta li {
    margin-left: 15px;
    margin-right: 0px;
}
.main-slider li{
    direction:ltr;
}
.services-block .inner-box .lower-box .image {
    height: 231px;
}
.services-block .inner-box .lower-box .image img {
    height: 100%;
    object-fit: cover;
}
.product-section .lower-box .content-column .inner-column .text {
    margin-bottom: 0px;
}
.services-block-four .inner-box {
    height: 105px;
}
.services-block-four .inner-box h3 {
    font-size: 16px;
    font-family: inherit;
}
.content-column p{
    text-align:justify;
}
img.akb-icons{
    width:36px;
}
.services-block .inner-box .upper-box .icon {
    right: 0px;
    left: auto;
}
.services-block .inner-box .upper-box {
    padding-right: 78px;
    padding-left: 0px;
}
.services-block-four .inner-box:hover .icon-box {
    background-color: #003462;
}
.welcome-section .content-column {
    margin-bottom: 0px;
}
.welcome-section {
    padding: 0px;
}
.welcome-section .content-column .inner-column .text {
    margin-bottom: 0px;
}
.text p {
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 10px;
    text-align: justify;
}
.process-block .inner-box .upper-box::after {
display:none;
}
.work-section .sec-title {
    margin-bottom: 60px;
}
.akb-activity-section p{
    font-size: 16px;
    text-align: justify;
}
.akb-download-div{
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}

.akb-download-div .icon{
   position: absolute;
    right: -1px;
    left: auto;
    top: 0px;
    width: 50px;
    height: 100%;
    background-color: #0693ee;
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-align: center;
    line-height: 50px;
}
.download-btn{
    padding: 10px 70px 10px 20px;
}
.akb-download-div:hover a {
    color:#0693ee;
}
.welcome-section .content-column .inner-column .text p {
    margin-bottom: 12px;
}
.sponsors-carousel .owl-nav{
    display:none;
}
.main-menu .navigation > li > ul > li:hover > a {
    background: #02294a;
}
.akb-qualifications p ,.akb-departmant p{
    font-size: 16px;
    text-align: justify;
}
.akb-qualifications .modal-body {
    text-align: center;
    
}
.akb-modal{
    background: #008aea;
}
.akb-modal:hover{
    background: #003580;
}
.akb-modal span{
    margin-left:5px;
}
.akb-qualifications .modal-title{
    text-align: center;
}
.akb-departmant .modal-dialog {
    width: 1000px;
}
.akb-download-div:hover .icon {
    background-color:  #003580;}
.akb-link-page .thumbnail:hover{
    border: 2px solid #003462;
}
.akb-contact-col span {
    color: #999999;
    font-size: 15px;
}
.main-slider h2 , .main-slider .text{
    text-shadow: 2px 2px 7px #2e353e;
}
.main-slider .theme-btn{
    display: none;
}
.main-slider .tparrows.gyges:hover {
    background-color: #003462;
}
.services-block .inner-box:hover .upper-box .icon {
background-color: #003462;}
.rev_slider .tp-mask-wrap .tp-caption, .rev_slider .tp-mask-wrap :last-child, .wpb_text_column .rev_slider .tp-mask-wrap .tp-caption, .wpb_text_column .rev_slider .tp-mask-wrap :last-child {
    text-align: center !important;
}
.project-list li .icon {
    right: -1px;
    left: auto;
    height: 100%;
}
.project-list li {
    padding: 13px 60px 13px 12px;
}
.project-list li strong {
    font-family: inherit;
}
.project-single-section .lower-box h2 {
    font-size: 24px;
    font-family: inherit;
}
.project-single-section {
    padding: 30px 0px 30px;
}
.project-list li .icon {
    color: #ffffff;
    }

    .blog-modern-section .news-block-three .content-column .inner-column h2 {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 12px;
}

.blog-modern-section .news-block-three .content-column .inner-column {
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: -50px;
    background-color: #ffffff;
    padding: 20px 100px 20px 20px;
    box-shadow: 0px 0px 20px rgb(142, 142, 142);
}



.blog-modern-section .news-block-three .content-column .inner-column .text {
    position: relative;
    font-size: 14px;
    color: #888888;
    line-height: 2em;
    margin-bottom: 10px;
}



.blog-modern-section .news-block-three .content-column .inner-column:before {
    position: absolute;
    content: '';
    left: auto;
    right: 40px;
    top: 0px;
    width: 3px;
    height: 100%;
    background-color: #003462;
}


.blog-modern-section .news-block-three .content-column .inner-column .post-date {
    position: absolute;
    content: '';
    left: auto;
    right: 12px;
    top: 0px;
    width: 60px;
    height: 60px;
    padding: 18px 6px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 1.1em;
    text-transform: uppercase;
    background-color: #003462;
}


.blog-modern-section .news-block-three .image-column .image img {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 30px;
    display: block;
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center top;
}
.blog-modern-section {
    padding: 50px 0px;
}
.blog-modern-section span.icon{
    margin-left: 8px;
}
.blog-modern-section .news-block-three .content-column .inner-column h2 a:hover {
    color: #0693ee;
}
.blog-modern-section .news-block-three .content-column .post-meta li a:hover {
    color: #0693ee;
}
.akb-employee .akb-titr .separater {
    left: -38%;
}
.kbh-Category-select , .kbh-TypeServiceName-select ,.kbh-CityName-select , .kbh-StatusName-select ,.kbh-MasterName-select {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c8c8c8;
    color: #717171;
    line-height: 1.571;
    padding: 8px 12px;
    width: 100%;
}
.akb-select-section {
    margin-bottom: 12%;
}
.kbh-Project-Filter-Search-Btn{
        background: #0797f0;
         border: 0px;
}
.kbh-Project-Filter-Search-Btn:hover{
        background: #003462;
         border: 0px;
}
.detail-gallery a.next , .detail-gallery a.prev{

}
.project-list li strong {
    margin-right: 0px;}
.hoz-tab-title {
    background: #fff !important;
}
.tab-content {
    border: 0px !important;
}
li.akb-language-fa {
    margin-left: 50px;
}
span.akb-seprator {
    margin: 0px 10px;
    font-weight: bolder;
    font-size: 22px;
}
li.akb-language-en {
    padding-left: 0px !important;
}
li.akb-language-en a ,li.akb-language-fa a{
font-family: 'Montserrat', sans-serif;

}
.cat-list li a {
     font-family: inherit; 
}
footer .social-icon-two li {
    margin-left: 8px;
}
.main-header .header-top .top-right .social-nav li {
    padding-left: 10px;
}
a.akb-news-link {
    font-size: 18px;
    color: #0693ee;
}
a.akb-news-link:hover {
    color: #003462;
}
.portfolio-item-two .overlay-inner h3 a {
    font-size: 16px;
    padding: 10px;

}
.akb-field-activity p{
    font-size: 17px;
}

.owl-stage-outer img[title]:hover::after {
    content: attr(title) !important;
    /*padding: 4px 8px;*/
    color: #FFF !important;
    background-color:black !important;
    
}
.services-section-two .inner-container{
	margin-top:0px !important;
}
.akb-employer-section .inner-box .upper-box .image {
    height: 130px;
}
.akb-employer-section .inner-box .upper-box .image img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.akb-text {
    text-align: center;
}
.services-block-two .inner-box .upper-box .image .overlay-box .overlay-inner .read-more {
    position: relative; 
    right: inherit; 
    bottom: inherit;
    vertical-align: middle;
    object-fit: contain; 
    text-align: center;
    top: 12px;

}
.akb-employer1 .akb-titr .separater {
    left: 0%;
}
.services-section-two {
    padding: 0px 0px 0px;
}
.services-section-two .owl-dots .owl-dot:hover, .services-section-two .owl-dots .owl-dot.active {
    background-color: #003462;
}
.counter-section {
    background-attachment: fixed;
}
.fact-counter .count-outer .count-text {
    color: #ffffff;
    font-size: 35px;
}
.fact-counter .count-outer {
    color: #ffffff;
}
.fact-counter .column .counter-title {
    color: #ffffff;
}
li.news-categories{
    display: none !important;
}
.mixitup-gallery .tags{
    display:none;
}
header .icon-box{
    top: -3px !important;
}
.akb-qualifications .modal-content{
  
}
.process-block .inner-box:hover img{
    filter: brightness(0) invert(1);
}
.akb-text-muted {
    color: #777;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 0px;
}
.main-footer .widgets-section{
    padding: 30px 0px 0px !important;
}
.main-header .info-box strong {
    font-size: 16px;
}
.akb-p1{
    text-align: right !important;
}
.services-block-three .inner-box .icon-box {
    padding: 25px 10px 15px;
}
.services-block-three .inner-box{
    min-height: 273px;
}
.services-block-three  li {
    font-weight: bold;
    color: #017bcb;
}
a.akb-map-project-3 {
    color: #5dbbf6;
}
.counter-section .counter-main-column .inner-column {
    padding-top: 65px;
}
.team-grids .member-pic {
    height: 263px;
}
.team-grids .team-grid img {
    height: 100%;
    object-fit: cover;
}
.team-grids .social-links li a:hover {
    color: #22abff;
}
.our-team.section-padding {
    padding: 0px 0 20px;
}
.team-grids .member-info h3 {
    font-size: 18px;
    font-family: inherit;
    text-align: right;
}
.member-info h4{
    text-align: right;
    color: #0682d1;
    font-size: 16px;
    margin: 6px 0px;
    font-weight: bold;
}
.team-grids .member-info p {
    text-align: justify !important;
}
.square-hover-effect .hover-1, .square-hover-effect .hover-2, .square-hover-effect .hover-3, .square-hover-effect .hover-4 {
    background: rgba(0, 52, 98, 0.76);
}
.teacher-single {
    padding: 25px 0px 40px;
}
.teacher-single .content-column .content-inner .designation {
    margin: 10px 0px;
    font-weight: bold;
    color: rgb(6, 134, 217);
}
.services-block-three .inner-box:hover {
    border-color: #0a3572;
}
.boldtitrp{
    font-weight: bold;
    color: #0382d5;
}
.akb-salahiat-bakhsh1 .akb-text-muted {
    color: #0693ee;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    font-size: 20px;
    font-weight: 500;
}
small.text-muted.akb-small {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.8em;
    max-width: 250px;
    margin: 0 auto;
}
.PartialRenderHtmlParts--Tools--HtmlPart_PageName_86232943044444 section.page-title{
   /* background-attachment: fixed;*/
}



















@media (max-width: 1024px) {
    .main-header .header-upper .upper-right {
        display: none;
}
.header-lower .auto-container{
    padding: 0px;
}
.fluid-section-one .form-column .inner-column {

    padding: 71px 90px 71px 130px;

}

}

@media (max-width: 767px) {
    .main-header .nav-outer {
        padding: 0px 15px;
    }
    .sticky-header {
        display: none;
    }
}
@media (max-width: 600px) {
    .services-block-four .inner-box {
        padding: 0px;
    }
    .services-block-four .inner-box {
        height: inherit;
    }
    .main-menu .navbar-collapse > .navigation > li > a, .main-menu .navbar-collapse > .navigation > li > ul > li > a, .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a {
        text-align: right;

    }
    .main-menu .navbar-collapse > ul li.dropdown .dropdown-btn {
        left: 10px;
        right: auto;
    }
    section .content-column .inner-column h2 {
        font-size: 24px;
    }
    .kbhclass-1259dc0c-1b61-46d2-b507-dee5462cf973 {
        text-align: right !important;
    }
    .akb-departmant .modal-dialog {
        width: 96%;
    }
    .blog-modern-section .news-block-three .image-column .image img {
        height: inherit;
    }
    .blog-modern-section .news-block-three .content-column .inner-column .post-date {
        display:none;
    }
    .blog-modern-section .news-block-three .content-column .inner-column {
        padding: 30px 20px 50px 20px;
    }
    .fluid-section-one .title-column .inner-column {
        padding: 66px 15px 66px 15px;
    }
    .subscribe-form-three .form-group input[type="text"], .subscribe-form-three .form-group input[type="tel"], .subscribe-form-three .form-group input[type="email"], .subscribe-form-three .form-group textarea {
        padding: inherit;
    }
    #KbhCvFileUploadedInp {
        padding: 0px;
    }
}


.blog-modern-section {
    padding: 15px 0px;
}

.kbh-Category-select, .kbh-TypeServiceName-select, .kbh-CityName-select, .kbh-StatusName-select, .kbh-MasterName-select {
    font-weight: bold;
    color: #01377f;
}

.sticky-header .logo {
    padding: 5px 0px 0px;
}

div#kbh-show-text-of-select-chooses {
    color: #0000ff;
    padding: 5px;
}


a.akb-map-project-3:hover {
    color: #ffb509 !important;
}

a.akb-map-project-3 {
    color: #35b0ff;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #528184;
    padding: 10px;
    background: #2a3a3a;
}

.gm-style-iw-d {
    margin-right: 25px !important;
}

.main-slider .theme-btn {
    display: inline-block;
}

.product-section .lower-box .content-column .inner-column .text p {
    color: #222;
}

body {
    color: #000000;
}

/* ---------------------------------------------------------------- */
/* -- mohandes biparva farmoodand -- */
.main-header .info-box li {
    /*text-align: right;*/
    text-align: center;
}
/* ---------------------------------------------------------------- */





.akb-link-page .thumbnail:hover {
    border: 1px solid #003462;
}


.main-slider h2 {
    color: #fff;
}

.main-slider .text {
    color: #fff;
}





.main-slider h2, .main-slider .text {
    text-shadow: 2px 2px 10px #000;
}






.main-header .info-box {
    margin-top: -2px;
}

.main-header .info-box li {
    margin-top: 11px;
}





