.less-error-message ul, .less-error-message li {
list-style-type: none;
margin-right: 15px;
padding: 4px 0;
margin: 0;
}
.less-error-message label {
font-size: 12px;
margin-right: 15px;
padding: 4px 0;
color: #cc7777;
}
.less-error-message pre {
color: #dd6666;
padding: 4px 0;
margin: 0;
display: inline-block;
}
.less-error-message pre.line {
color: #ff0000;
}
.less-error-message h3 {
font-size: 20px;
font-weight: bold;
padding: 15px 0 5px 0;
margin: 0;
}
.less-error-message a {
color: #10a
}
.less-error-message .error {
color: red;
font-weight: bold;
padding-bottom: 2px;
border-bottom: 1px dashed red;
}
