
/* ================================================================== Tablet */

@media screen and (max-width: 1199px) {
	img, table, iframe {max-width: 100%;}
    img {max-width: 100%;height:auto;}
    iframe {width: 100%;}
    .pagewidth,  .band.nopad .pagewidth {width: auto;}
    #wrapper {min-width: 0;}
    
    /* ==================== Header */
	header.heady {box-shadow: 0 1px 5px rgba(7, 7, 7, 0.45);padding: 1.5em 0;}
	header.heady .logo {padding: 0;min-height: 66px;}
	header.heady .header-right {float: left;padding: 5px 20px 0 0;}
	header.heady > .pagewidth > .right { position: absolute; bottom: 0; right: 20px; }
	
	/* ==================== Navigation */
    a#nav-control {display: block;float: left;margin-top: 13px;font-size:25px;text-decoration: none;padding:5px 0;}
    #hnav {left: 0;position: absolute;right: 0;top: auto; display: none; width: 100%; bottom: auto; margin: 15px 0 0; background: #FFF; box-shadow: 0 1px 5px rgba(7, 7, 7, 0.45);}
    #hnav ul li {width: 100%;}
    #hnav ul li a, #hnav ul ul li a, #hnav ul li:hover ul li a{padding: 10px 25px;text-align: center;}
	#hnav ul li ul {width: 100%;position: relative;top:0;left:0;opacity: 1;box-shadow: none;}
	#hnav ul li:hover ul {top: 0;position: relative;}
	#hnav ul li ul, #hnav ul ul li:last-child a {border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;}
	
	/* ==================== Slider */
	.iosSlider { width: 100%; }
	.iosSlider .slider .inner, .sliderContainer .slideSelectors {width: 100%;}
	.iosSlider .slider .slider-box {width: 40%;}
	.sliderContainer {height: 0;max-height: inherit;padding-bottom: 32.653%;}
	
	/* ==================== Content */
	.home-about {margin: 4% 3%;}
	.home-about h3 {font-size: 16px;}
	.home-about h4 {font-size: 16px;}
	.home-about h5 {font-size: 16px;}
	.band.colorcols{background-image: linear-gradient(to right,transparent 65%, 
		#ddd 65%);                                                                        /* right col BG color */
		}
	
	/* ==================== About */
	#wrapper #maincol {padding: 4% 3%;width: 62%;}
	.pagewidth #rightcol {padding: 4% 3%;width: 26%;}
	
	#wrapper .content-block {padding: 4% 3%;}
	
	/* ==================== Footer */
	.footy #copy {float: none;padding: 0 0 10px;text-align: center;width: 100%;}	
	.footy #copy > ul {display: inline-block;}
	.footy .social-icons {float: none;padding: 0;text-align: center;}
	.footy #copy li:after {padding: 0 4px;}
}


/* ================================================================== Mobile */

@media screen and (max-width: 767px) {
	.left, .right {float: none;}
	img.left, img.right, figure.left, figure.right {display:block;margin:0 auto 15px;}
	header.heady {text-align: center;}
	.logo img{max-height: 89px;}
	a#nav-control {float: none;margin: 0 auto;}
	header.heady > .pagewidth > .right { position: relative; bottom: auto; right: auto; }
	header.heady .header-right {float: none;padding: 10px 0;}
	header.heady .header-right li, header.heady .header-right li:first-child{font-size:11px;margin:5px 0;}
	.iosSlider .slider .slider-box {width: 50%;}
	h1 {font-size: 25px;}
	h2 {font-size: 20px;}
	h3 {font-size: 15px;}
	h4 {font-size: 15px;}
	h5 {font-size: 15px;}
	.home-about > h1 {margin: 0;}
	.home-about figure.right {margin: 15px 0;}
	.home-about > p {padding: 0;}
	hr {margin: 1.7em 0;}
	.home-about .cols3 section {display:block;float: none;margin: 0 auto 10px;padding: 0;text-align: left;width: 70%;overflow:hidden;}
	.home-about .cols3 p {min-height: inherit;}	
	#wrapper #maincol {width: auto;}
	.pagewidth #rightcol {position: relative;width: auto;}
	.footy #copy li {float: none;margin: 5px 0;}
	.footy #copy li:after {display: none;}
	.footy #copy > ul {display: inline;}
	.cols2 section,.cols3 section,.cols4 section,.cols5 section,.cols6 section, section.merge{float:none;margin:0;width:auto !important;}
	.band.colorcols{background-image: none;padding-bottom:0;}
	.band.colorcols .pagewidth{padding:0;}
	.colorcols .cols3 section:first-child{padding:0 20px;}
	.colorcols .cols3 section:last-child{margin:0;padding:40px 20px;}
}

@media screen and (max-width: 600px) {
	.iosSlider .slider .slider-box {left: 0;margin: 0 auto;right: 0;width: 60%;}
	.iosSlider .slider .slider-box > h2 {font-size: 22px;}
	.iosSlider .slider .slider-box p {font-size: 13px;}
	.iosSlider .slider .slider-box p a {font-size: 12px;}
	.iosSlider .slider .slider-box p a i {height: 14px;width: 14px;}
}

@media screen and (max-width: 479px) {
	h1 {font-size: 20px;}
	.home-about .cols3 section {width: 100%;}
	.footy #copy > p {padding: 0 3%;}
}